/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

manifest {
  name = 'neoAntigen'
  description = 'NeoAntigen detection analysis pipeline'
  // homePage = 'https://gitlab.curie.fr/data-analysis/rnaseq'
  author = 'Institut Curie - Bioinformatics core facility'
  version = '0.1'
  mainScript = 'main.nf'
  nextflowVersion = '>=21.10.6'
}

/**********
 * Params *
 **********/

params {
  email = false
  help = false
  name = false
  samplePlan = false
  // design = false

  // Analysis parameters
  bam = false
  genome = false
  salmonQuantOpts = null
  // multiqcConfig = "$projectDir/assets/multiqcConfig.yaml"

  // skipFastqc = false
  // skipMultiQC = false
  skipSoftVersions = false

  // Output directories
  outDir = "$launchDir/results"
  tmpDir = '/local/scratch/'
  summaryDir = "${params.outDir}/summary"
  metadata = "$projectDir/assets/metadata.tsv"
}

/************************
 * Configs and profiles *
 ************************/

conda.enabled = true
trace.overwrite = true
dag.overwrite = true
report.overwrite = true
timeline.overwrite = true

// Additional configs
includeConfig 'conf/base.config'
includeConfig 'conf/process.config'
includeConfig 'conf/geniac.config'

// Profiles
profiles {
  conda {
    includeConfig 'conf/conda.config'
  }
  multiconda {
    includeConfig 'conf/multiconda.config'
  }
  docker {
    includeConfig 'conf/docker.config'
  }
  singularity {
    includeConfig 'conf/singularity.config'
  }
  path {
    includeConfig 'conf/path.config'
  }
  multipath {
    includeConfig 'conf/multipath.config'
  }
  podman {
    includeConfig 'conf/podman.config'
  }
  cluster {
    includeConfig 'conf/cluster.config'
  }
  test{
    includeConfig 'conf/test.config'
  }
}

// Annotation paths
includeConfig 'conf/genomes.config'

// Load modules
includeConfig 'conf/modules.config'
