/***********************************
 * Default for environment options *
 ***********************************/

params {

  // Cluster
  queue = null
  // queue = "dev"
  
  step = "HLAtyping, RNAquant, pVacseq, pVacfuse, mixcr"  // "HLAtyping, RNAquant, pVacseq, pVacfuse, mixcr"

  tmpdir = ""

  // Genome annotations
  genomeAnnotationPath = ""

  vepDirCache = ""
  vepPluginRepo = ""

  // graphDir = ""
  // graphName = "PRG_MHC_GRCh38_withIMGT"

  layout="PE"

  min_vaf_dna = 0.05 
  min_vaf_rna = 0.05 
  min_vaf_normal = 0.02 

  min_cov_dna = 5 
  min_cov_rna = 5 

  pvacSeqArgs = "--iedb-retries 5 --allele-specific-anchors --anchor-contribution-threshold 0.8 --aggregate-inclusion-binding-threshold 5000 --net-chop-method cterm  --netmhc-stab --net-chop-threshold 0.5 --binding-threshold 500 --expn-val 1.0 --maximum-transcript-support-level 1 --minimum-fold-change 0.0 --normal-cov 10 --top-score-metric lowest --downstream-sequence-length full  --fasta-size 200 --class-i-epitope-length 8,9,10,11 --class-ii-epitope-length 12,13,14,15,16,17,18"

  // iedb_path = ""
  // algos_class1 = "NetMHCcons PickPocket MHCnuggetsI  NetMHCpanEL SMM SMMPMBEC" 
  // algos_class2 = "MHCnuggetsII NetMHCIIpan NetMHCIIpanEL NNalign SMMalign" 

  algos = "NetMHCcons PickPocket MHCnuggetsI  NetMHCpanEL SMM SMMPMBEC MHCnuggetsII NetMHCIIpan NetMHCIIpanEL NNalign SMMalign MHCflurry" 

  species = "hsa"

  miLicense = ""

  // Conda
  condaCacheDir = ""

  // Singularity image path
  singularityImagePath = ""

  // Global path used for path or multipath profiles
  globalPath = ""

  // Option to bind specific folders on the command line
  // with nextflow run when using the singularity profile
  containers {
    specificBinds = params.containers.specificBinds ?: ','
  }

}
