/***********************************
 * Default for environment options *
 ***********************************/

params {

  // Cluster
  //queue = "dev" // null
  queue = null
  
  // Genome annotations
  genomeAnnotationPath = ""
  genomeAnnotationSibPath = ""

  vep_dir_cache = ""
  vep_plugin_repo = ""
  vtTools = ""

  graphDir = ""
  graphName = "PRG_MHC_GRCh38_withIMGT"

  blackList=""
  proteinGff=""
  layout="PE"

  min_vaf_dna = 0.10 
  min_vaf_rna = 0.10 
  min_vaf_normal = 0.02 
  iedb_path = ""

  algos_class1 = "NetMHCcons PickPocket MHCnuggetsI  NetMHCpanEL SMM SMMPMBEC" 
  algos_class2 = "MHCnuggetsII NetMHCIIpan NetMHCIIpanEL NNalign SMMalign" 

  algos = "NetMHCcons PickPocket MHCnuggetsI  NetMHCpanEL SMM SMMPMBEC MHCnuggetsII NetMHCIIpan NetMHCIIpanEL NNalign SMMalign" 

  species = "hsa"

  miLicense = ""


  // Conda
  condaCacheDir = ""

  // Singularity image path
  singularityImagePath = ""

  // Global path used for path or multipath profiles
  globalPath = ""

  // Option to bind specific folders on the command line
  // with nextflow run when using the singularity profile
  containers {
    specificBinds = params.containers.specificBinds ?: ','
  }

}
