params {
  genomeAnnotationPath = params.genomeAnnotationPath ?: "${projectDir}/../annotations"

  geniac {

    // Installation paths
    multiPath = params.globalPath ?: "${projectDir}/../multipath"
    path = params.globalPath ?: "${projectDir}/../path/bin"
    singularityImagePath = params.singularityImagePath ?: "${projectDir}/../containers/singularity"

    tools {
      // Add your tools available in conda here, for example:
      fastqc = "${projectDir}/recipes/conda/fastqc.yml"
      multiqc = "${projectDir}/recipes/conda/multiqc.yml"
      python = "${projectDir}/recipes/conda/python.yml"
      salmon = "${projectDir}/recipes/conda/salmon.yml"
      star = "${projectDir}/recipes/conda/star.yml"
      hlala = "${projectDir}/recipes/conda/hla-la.yaml"
      vep = "${projectDir}/recipes/conda/ensembl-vep_v110.yaml"
      pvacseq = "${projectDir}/recipes/conda/pvacseq.yaml"
      gatk_bam_readcount = "${projectDir}/recipes/conda/gatk_bam_readcount.yaml"
      bcftools = "${projectDir}/recipes/conda/bcftools.yaml"
      arriba = "${projectDir}/recipes/conda/arriba.yaml"

      
    }

    // options for singularity and docker containers
    containers {
      singularityRunOptions = "--bind ${params.containers.specificBinds}"
      dockerRunOptions = ""
      podmanRunOptions = ""

      // containers are based on CentOS linux
      // some tools require dependencies to be installed with 'yum install'
      // specific dependencies are listed below
      yum {
        // example of dependency:
        fastqc = 'fontconfig dejavu*'
      }

      //cmd {
      //    post {
      //        fastqc = ['echo Hello', 'echo \"This is fastqc tool!\"']
      //    }

      //    envCustom {
      //        fastqc = ['FASTQC_VAR0=\"fastqc tool variable0\"', 'FASTQC_VAR1=\"fastqc tool variable1\"']
      //    }
      //}

      //git {
      // keep this as syntax example
      //some_tools = 'https://github.com/some_user/some_tools::commit_hash'
      //}
    }
  }
}
