/*
 * -------------------------------------------------
 *  Nextflow config file for Genomes paths
 * -------------------------------------------------
 * Defines reference genomes
 * Can be used by any config that customises the base
 * path using $params.genomeAnnotationPath / --genomeAnnotationPath
 */

params {

  genomes {

    'hg38' {
      fasta              = "${params.genomeAnnotationPath}/hg38.fa" 
      fastaFai           = "${params.genomeAnnotationPath}/hg38.fa.fai"
      fastaDict           = "${params.genomeAnnotationPath}/hg38.dict"
      star               = "${params.genomeAnnotationPath}/STAR_2.7.6a/"
      gff                = "${params.genomeAnnotationPath}/gencode.v29.annotation_woPAR.gff3"
      transcriptsFasta   = "${params.genomeAnnotationPath}/gencode.v29.transcripts.fa.gz"
      fasta_sib          = "${params.genomeAnnotationPath}/b38.fa"
      fastaFai_sib       = "${params.genomeAnnotationPath}/b38.fa.fai"
      star_sib           = "${params.genomeAnnotationPath}/b38_starIndex/"
      gtf_sib            = "${params.genomeAnnotationPath}/gencode.v29.annotation.gtf"
      proteinGff         = "${params.genomeAnnotationPath}/protein_domains_hg38_GRCh38_2018-03-06.gff3"
      blackList          = "${params.genomeAnnotationPath}/blacklist_hg38_GRCh38_2018-11-04.tsv"
    }

    'test'{
      fasta =""
    }

  }
}

