/*
 * -------------------------------------------------
 *  Nextflow config file for Genomes paths
 * -------------------------------------------------
 * Defines reference genomes
 * Can be used by any config that customises the base
 * path using $params.genomeAnnotationPath / --genomeAnnotationPath
 */

params {

  genomes {

    'hg38' {
      fasta              = "${params.genomeAnnotationPath}/Human/hg38/genome/hg38.fa" 
      fastaFai           = "${params.genomeAnnotationPath}/Human/hg38/genome/hg38.fa.fai"
      fastaDict           = "${params.genomeAnnotationPath}/Human/hg38/genome/hg38.dict"
      star               = "${params.genomeAnnotationPath}/Human/hg38/indexes/STAR_2.7.6a/"
      salmon             = "${params.genomeAnnotationPath}/Human/hg38/indexes/salmon_gencode.v34/"
      //gtf                = "${params.genomeAnnotationPath}/Human/hg38/gtf/gencode.v34.annotation.gtf"
      gff                = "${params.genomeAnnotationSibPath}/gencode.v29.annotation_woPAR.gff3"
      //transcriptsFasta   = "${params.genomeAnnotationPath}/Human/hg38/gtf/gencode.v34.transcripts.fa"
      transcriptsFasta   = "${params.genomeAnnotationSibPath}/b38_data/gencode.v29.transcripts.fa.gz"
      gencode            = true

      fasta_sib          = "${params.genomeAnnotationSibPath}/b38_data/b38.fa"
      fastaFai_sib       = "${params.genomeAnnotationSibPath}/b38_data/b38.fa.fai"
      star_sib           = "${params.genomeAnnotationSibPath}/b38_data/b38_starIndex/"
      gtf_sib            = "${params.genomeAnnotationSibPath}/gencode.v29.annotation.gtf"
      gff_sib            = "${params.genomeAnnotationSibPath}/gencode.v29.annotation_woPAR.gff3"
      transcriptsFasta_sib   = "${params.genomeAnnotationSibPath}/b38_data/gencode.v29.transcripts.fa.gz"
    }

  }
}

