/*
 * Define modules options
 */


process {

  // Default
  publishDir = [
    path: { "${params.outDir}/${task.process.tokenize(':')[-1].tokenize('_')[0]}" },
    mode: 'copy',
    saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
  ]

  withName:'salmonQuantFromBamFlow:starAlign' {
    publishDir = [
      path: { "${params.outDir}/STAR/${meta.sampleName}" },
      mode: 'copy'
    ]
  }

  withName:'salmonQuantFromBamFlow:salmonQuantFromBam' {
    publishDir = [
      path: { "${params.outDir}/Counts/${meta.sampleName}" },
      mode: 'copy',
      pattern: "*tpm.txt"
    ]
    // ext.args = [
    //   params.salmonQuantOpts ?: '',
    //   params.genome && params.genomes.containsKey(params.genome) ? params.genomes[ params.genome ].gencode ? '--gencode' : '' : ''
    // ].join(' ').trim()
  }

  withName:'vcfAnnotFlow:vepAnnot' {
    publishDir = [
      path: { "${params.outDir}/VCF/${meta.sampleName}" },
      mode: 'copy'
    ]
  }

  withName:'vcfAnnotFlow:vcfAddExp' {
    publishDir = [
      path: { "${params.outDir}/VCF/${meta.sampleName}" },
      mode: 'copy'
    ]
  }

  withName:'vcfAnnotFlow:vcfSplit' {
    publishDir = [
      path: { "${params.outDir}/VCF/${meta.sampleName}" },
      mode: 'copy'
    ]
  }
 
  withName:'vcfAnnotFlow:vcfAddRnaCov' {
    publishDir = [
      path: { "${params.outDir}/VCF/${meta.sampleName}" },
      mode: 'copy'
    ]
  }

  withName:'vcfAnnotFlow:sortVcf' {
    publishDir = [
      path: { "${params.outDir}/VCF/${meta.sampleName}" },
      mode: 'copy'
    ]
  }

  withName:'pVacseqFlow:hlaLaRun' {
    publishDir = [
      path: { "${params.outDir}/pVacSeq/${meta.sampleName}" },
      mode: 'copy',
      saveAs: { filename -> "${meta.sampleName}_hlala.txt" }

    ]
  }

  withName:'pVacseqFlow:hlaIConvert' {
    publishDir = [
      path: { "${params.outDir}/pVacSeq/${meta.sampleName}" },
      mode: 'copy'
    ]
  }

   withName:'pVacseqFlow:hlaIIConvert' {
    publishDir = [
      path: { "${params.outDir}/pVacSeq/${meta.sampleName}" },
      mode: 'copy'
    ]
  }

   withName:'pVacseqFlow:pvacseqRun' {
    publishDir = [
      path: { "${params.outDir}/pVacSeq/" },
      mode: 'copy'
    ]
  }

   withName:'pVacFuseFlow:arribaFusion' {
    publishDir = [
      path: { "${params.outDir}/pVacFuse/${meta.sampleName}" },
      mode: 'copy'
    ]
  }

   withName:'pVacFuseFlow:pvacfuseRun' {
    publishDir = [
      path: { "${params.outDir}/pVacFuse/" },
      mode: 'copy'
    ]
  }

   withName:'mixcr' {
    publishDir = [
      path: { "${params.outDir}/mixcr/" },
      mode: 'copy'
    ]
  }

  withName:'getSoftwareVersions' {
    publishDir = [
      path: { "${params.outDir}/softwareVersions" },
      mode: 'copy'
    ]
  }

  withName:'outputDocumentation' {
    publishDir = [
      path: { "${params.summaryDir}" },
      mode: 'copy'
    ]
  }
}