conda {
  cacheDir = "${params.condaCacheDir}"
  createTimeout = '1 h'
}

process {

  beforeScript = "export R_LIBS_USER=\"-\"; export R_PROFILE_USER=\"-\"; export R_ENVIRON_USER=\"-\"; export PYTHONNOUSERSITE=1; export PATH=$PATH:${projectDir}/bin/fromSource"

  withLabel:python{ conda = "${params.geniac.tools?.python}" }
  withLabel:salmon{ conda = "${params.geniac.tools?.salmon}" }
  withLabel:star{ conda = "${params.geniac.tools?.star}" }
  withLabel:hlala{ conda = "${params.geniac.tools?.hlala}" }
  withLabel:vep{ conda = "${params.geniac.tools?.vep}" }
  withLabel:pvacseq{ conda = "${params.geniac.tools?.pvacseq}" }
  withLabel:gatk_bam_readcount{ conda = "${params.geniac.tools?.gatk_bam_readcount}" }
  withLabel:bcftools{ conda = "${params.geniac.tools?.bcftools}" }
  withLabel:arriba{ conda = "${params.geniac.tools?.arriba}" }
  withLabel:mixcr{ conda = "${params.geniac.tools?.mixcr}" }

}
