/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test
 */

params {
  // Limit resources for tests
  maxCpus = 8
  maxMemory = 40.GB
  maxTime = 12.h

  // Input data
  // TODO - Edit test data
  // readPaths = [
  //   ['test1', ["$projectDir/test/data/test1_R1.fastq.gz", "$projectDir/test/data/test2_R1.fastq.gz"]],
  //   ['test2', ["$projectDir/test/data/test2_R1.fastq.gz", "$projectDir/test/data/test2_R2.fastq.gz"]]
  //  ]

  // Sample Plan - to use instead of readPaths
  samplePlan = "$projectDir/test/neoant_test_sp.csv"

  // Annotations
  genome =  'test'
  outDir = './test/results'
  //genomeAnnotationPath = './ref'
  // miLicense="$projectDir/ref/mi.license"

  //step = 'HLAtyping,RNAquant,pVacseq,pVacfuse,mixcr'
  step = 'HLAtyping' //,RNAquant,pVacseq,pVacfuse' 

  // condaCacheDir = ''
  // vepDirCache = ''
  // vepPluginRepo = ''
  // vtTools = ''
  // graphDir = ''
  // graphName = ''
  // iedb_path = ''
  // miLicense = ''

}
