/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test
 */

params {
  // Limit resources for tests
  maxCpus = 8
  maxMemory = 40.GB
  maxTime = 12.h

  // Sample Plan - to use instead of readPaths
  samplePlan = "$projectDir/test/neoant_test_sp.csv"

  // Annotations
  genome =  'test'
  outDir = './test/results'

  step = 'HLAtyping' //,RNAquant,pVacseq,pVacfuse' 

}
